<table class="layui-table" lay-size="lg">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>序号</th>
        <th>头像</th>
        <th>账号</th>
        <th>权限</th>
        <th>创建时间</th>
        <th>最后退出时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody class="superShow">
    <% for(var x=0;x<list.length;x++){%>
    <tr>
        <td><%=x%></td>
        <td><img src="\<%=list[x].profile%>" alt=""></td>
        <td><%=list[x].name%></td>
        <td><%=list[x].auth%></td>
        <td><%=list[x].foundTime%></td>
        <td><%=list[x].exitTime%></td>
        <td>
            <a href="/admin/userSuper/edit?id=<%=list[x]._id%>" class="layui-btn layui-btn-small layui-btn-normal">修改</a>
            <a href="/admin/userSuper/remove" class="layui-btn layui-btn-small layui-btn-danger">删除</a>
        </td>
    </tr>
    <%}%>
    </tbody>
</table>