<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <table class="layui-table" lay-size="lg">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <!--<th>序号</th>-->
                <th>标题</th>
                <th>分类</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="superShow">
            <% for(var x=0;x<list.length;x++){%>
            <tr>
                <td><div class="blogTitle"><%=list[x].title%></div></td>
                <% for(var y=0;y<kind.length;y++){%>
                    <% if(list[x].kindId==kind[y]._id){%>
                        <td><%=kind[y].name%></td>
                    <%}%>
                <%}%>
                <td><%=list[x].sendTime%></td>
                <!--<td><div style="max-width:100px;max-height:40px;overflow:hidden;"><%=list[x].content%>...</div></td>-->
                <td>
                    <a href="/admin/blog/edit?id=<%=list[x]._id%>" class="layui-btn layui-btn-small layui-btn-normal">查看&修改</a>
                    <a href="/admin/blog/remove?id=<%=list[x]._id%>" class="layui-btn layui-btn-small layui-btn-danger">删除</a>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <div id="page" class="pagination">

        </div>
    </div>
</div>